html, body {
  font-family: Avenir Next, Palatino, serif;
  margin: 0 auto;
  transition: .2s ease;
  max-width: 80em;
}


h1, h2, .event {
  padding: 0;
  margin: 0;
}

@media (max-width:650px){
      h1, h2, .event {
      padding: 2%;
      margin: 0;
      }

    }


h1{
  letter-spacing: 20px;
  font-size: 5.9vw;
  padding-top: 5%;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  padding:0;
}

iframe {
max-width: 100%;
}


a {
  color: inherit;
}

a:hover {
  font-style: italic;
}

.event {
  padding-top: 2%;
}

.slash {
  font-size: 30px;
}


h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3.major {
  font-size: 66px;
}

h3.middle {
  font-size: 44px;
}

p {
    padding: 0;
}
p.about {
  font-size: 22px;
}


p.quote {
  font-size: 32px;
  padding-left: 3%;
}

.mark {
  font-size: 48px;
  font-family: Courier, monospace;
}
